<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HumanRelationVisualiser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>469E2EDE1CDE20D100FD509A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469E2EF21CDE20D900FD509A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469E2EFD1CDE20D900FD509A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
